@import url("https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

* {
  font-family: "Outfit", sans-serif;
}

@layer base {
  button {
   cursor: pointer;
  }
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

@keyframes fade-in{
  0% {opacity: 0; }
  100% {opacity: 1;}
}
.animate-fade-in {
  animation: fade-in 0.8s ease-out;
}